.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

.hero img {
  margin-top: 60px;
}

.hero h1 {
  text-align: center;
  width: 70%;
  font-size: 50px;
  font-weight: 600;
}

.hero h1 span {
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  width: 50%;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
}

.hero-action {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 24px;
  margin-bottom: 50px;
}

.hero-connect {
  padding: 25px 45px;
  border-radius: 50px;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
  cursor: pointer;
}

.hero-resume {
  padding: 25px 75px;
  border-radius: 50px;
  border: 2px solid #fff;
  cursor: pointer;
}

.hero-connect:hover {
  border: 2px solid #fff;
}

.hero-resume:hover {
  border-color: #b415ff;
}

/*------------------media qus---------------------*/
@media (max-width: 810px) {
  .hero {
    margin: 0px 70px;
  }
  .hero img {
    width: 180px;
    margin-top: 120px;
  }

  .hero h1 span {
    font-size: 35px;
  }

  .hero h1 {
    font-size: 35px;
  }

  .hero p {
    width: 65%;
  }

  .hero-action {
    gap: 20px;
    font-size: 20px;
  }

  .hero-connect,
  .hero-resume {
    padding: 15px 30px;
  }
}

@media (max-width: 535px) {
  .hero-connect,
  .hero-resume {
    padding: 15px 20px;
  }
}

@media (max-width: 490px) {
    .hero {
        margin-left:0 ;
        margin-right:0 ;
    }


  .hero-connect,
  .hero-resume {
    padding: 10px 18px;
  }

  .hero-action{
    display: flex;
    flex-direction: column;
  }
}


